<a href="https://colab.research.google.com/github/Zxlyxc/DSA-58011/blob/main/Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Number 1

In [33]:
numbers = [1, 2, 3, 4, 5 , 6 , 7 , 8 , 9 , 10]
theSum = 0
def sumnumbers():
  addition = 0
  for S in numbers:
      addition = addition + S
  print(addition)
sumnumbers()

55

Number 2

In [18]:
numbers = [1, 2, 3, 4, 5 , 6 , 7 , 8 , 9 , 10]
numbers.append(11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Number 3

In [27]:
numbers = [1, 2, 3, 4, 5 , 6 , 7 , 8 , 9 , 10]
numbers.insert(1,21)
print(numbers)

[1, 21, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Number 4

In [29]:
numbers = [5, 4, 3, 2, 1]
numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

Number 5

In [30]:
numbers = [5, 4, 3, 2, 1]
x = len(numbers)
print(x)

5